body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex; 
    justify-content: center;/* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 1000px;
}
#app {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
}