body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    min-height: 1000px;
    background-color: rgb(114, 74, 74);
}
#app{
    border-radius: 20px;
    background-color: rgb(255, 158, 207);
    padding: 20px;
}
button{
    margin: 0 10px;
    width: 260px;
    height: 100px;
    font-size: 25px;
}
h1{
    font-size: 60px;
}